# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Virtual Environments
venv/
env/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# Media uploads
media/

# OS files
.DS_Store
Thumbs.db